body {
  background-image: url(img/bg-img.png);
  background-size: cover;
}

.blank{
  height: 200px;
}

.logo {
   height:100px;
   width:100px;
   margin:50px;
}

.form-main {
  padding: 30px 30px 45px 30px;
  border-style: groove;
  border-radius: 30px;
  background-color: #F5EEF8;
  color: #5B2C6F;
}

.error {
  color: floralwhite;
}
