{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
{{ super() }}
{% endblock %}

{% block content %}
{{ super() }}
  <div class="container">
    <div class="row text-center blank">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
        <img class="logo" src="static/img/logo.png" alt="the Button">
      </div>
      <div class="col-sm-4"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4 form-main">
      {{ wtf.quick_form(form, button_map = {'submit': 'warning'}) }}
    </div>
    <div class="col-sm-4"></div>
  </div>
{% endblock %}
